[submodule "opencv"]
	path = opencv
	url = https://github.com/Itseez/opencv.git
	ignore = dirty
[submodule "tesseract-ocr/src"]
	path = tesseract-ocr/src
url=https://code.google.com/p/tesseract-ocr/
	ignore = dirty